/*
 * Copyright (c) 2023 Seeed Studio
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
    aliases {
        /* Alias for the accelerometer */
        accel0 = &qma6100p;
        /* Alias for the LR1110 SPI bus */
        lora0 = &lr1110;
        /* Alias for Analog-to-Digital Converter */
        adc = &adc;
    };

    /* Buttons */
    buttons {
        compatible = "gpio-keys";
        user_button: button_0 {
            label = "User Button";
            gpios = <&gpio0 6 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
        };
    };

    /* LEDs */
    leds {
        compatible = "gpio-leds";
        led_green: led_0 {
            gpios = <&gpio0 24 GPIO_ACTIVE_HIGH>;
            label = "Green LED";
        };
        led_red: led_1 {
            gpios = <&gpio0 3 GPIO_ACTIVE_HIGH>;
            label = "Red LED";
        };
    };
};

/* I2C bus for the accelerometer */
&i2c0 {
    compatible = "nordic,nrf-twim";
    status = "okay";
    scl-pin = <27>; /* P0.27 */
    sda-pin = <26>; /* P0.26 */

    qma6100p: qma6100p@12 {
        compatible = "qitas,qma6100p";
        reg = <0x12>;
        label = "QMA6100P";
        int1-gpios = <&gpio1 2 (GPIO_PULL_UP | GPIO_ACTIVE_HIGH)>; /* P1.02 */
    };
};

/* SPI bus for the LR1110 */
&spi3 {
    compatible = "nordic,nrf-spim";
    status = "okay";
    sck-pin = <11>;  /* P0.11 */
    mosi-pin = <41>; /* P1.09 */
    miso-pin = <40>; /* P1.08 */

    lr1110: lr1110@0 {
        compatible = "semtech,lr1110";
        reg = <0>;
        spi-max-frequency = <1000000>;
        reset = <&gpio1 10 GPIO_ACTIVE_LOW>; /* P1.10 */
        busy = <&gpio0 7 GPIO_ACTIVE_LOW>;  /* P0.07 */
        cs-gpios = <&gpio0 12 (GPIO_ACTIVE_LOW | GPIO_SPI_CS_INACTIVE)>;
        irq-gpios = <&gpio1 1 (GPIO_PULL_UP | GPIO_ACTIVE_HIGH)>; /* P1.01 */
    };
};

/* ADC for onboard sensors */
&adc {
    status = "okay";
    #address-cells = <1>;
    #size-cells = <0>;

    io-channels = <&adc NRF_SAADC_INPUT_AIN0>,
                  <&adc NRF_SAADC_INPUT_AIN5>,
                  <&adc NRF_SAADC_INPUT_AIN7>;

    channel@0 {
        reg = <0>;
        zephyr,gain = "ADC_GAIN_1_6";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,input-positive = <NRF_SAADC_INPUT_AIN0>; /* P0.02 for Battery */
    };
    channel@5 {
        reg = <5>;
        zephyr,gain = "ADC_GAIN_1_6";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,input-positive = <NRF_SAADC_INPUT_AIN5>; /* P0.29 for Photoresistor */
    };
    channel@7 {
        reg = <7>;
        zephyr,gain = "ADC_GAIN_1_6";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,input-positive = <NRF_SAADC_INPUT_AIN7>; /* P0.31 for NTC Temp */
    };
}; 